.button {
  background-color: var(--cor-primaria);
  color: var(--fundo-2);
  padding: 1rem 1.875rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--cor-primaria-escura);
}
